:root {
	--color-base-h: 351;
	--color-base-s: 100%;
	--color-base-l: 86%; /* lightpink */

	--color-primary: hsl(
		var(--color-base-h),
		var(--color-base-s),
		var(--color-base-l)
	);
	--color-user: hsl(
		var(--color-base-h),
		var(--color-base-s),
		calc(var(--color-base-l) - 10%)
	);
	--color-assistant: hsl(
		var(--color-base-h),
		var(--color-base-s),
		calc(var(--color-base-l) + 10%)
	);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
	font-family: system-ui, sans-serif;
	font-weight: normal;
	line-height: 1.5;
}
main {
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rlh;
	padding: 0.5rlh;
	padding-top: 2rlh;
}
.chat-history {
	width: 100%;
	height: 100px;
	background-color: var(--color-primary);
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 2rlh;
	overflow-y: auto;
	padding: 0.5rlh;
}
.chat-history > .message {
	padding: 0.5rlh;
	max-width: 95%;
}
.chat-history > .message.assistant {
	border-radius: 0.25rlh 0.25rlh 0.25rlh 0rlh;
	align-self: flex-start;
	background-color: var(--color-assistant);
}
.chat-history > .message.user {
	border-radius: 0.25rlh 0.25rlh 0rlh 0.25rlh;
	align-self: flex-end;
	background-color: var(--color-user);
}
.chat-history > .message.assistant ul {
	list-style-type: disc;
	padding-left: 0.5rlh;
}

.chat-history a {
	color: #000;
	text-decoration: underline;
}
.chat-history a:hover {
	color: #606060;
	text-decoration: underline;
	cursor: pointer;
}

form#chat-form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

input[type='text'] {
	flex-grow: 1;
	height: 1.5rlh;
	/* border-radius: 0.1rlh; */
}
button {
	height: 100%;
}
button[disabled] {
	opacity: 0.5;
}
button {
	cursor: pointer;
	transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	background-color: #000;
	color: #fff;
	border: none;

	/* padding: 0.5rlh 0.5rlh; */
	min-width: 100px;
}
button:hover {
	opacity: 0.8;
}

#api-keys {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	background-color: #fff;
	/* box-shadow: -1px 1px 2px 0 hsla(0, 0%, 0%, 0.5); */
}

form#api-keys-form {
	/* width: 300px; */
	/* background-color: #000; */
	color: #000;
	border: none;
	padding: 0.5rlh;
	display: flex;
	flex-direction: column;
	gap: 0.5rlh;
}

#api-keys-form label {
	background-color: #fff;
	color: #000;
	padding: 0.5rlh 1rlh;
}

#api-keys-form input {
	background-color: #fff;
	color: #000;
	padding: 0.5rlh 1rlh;
	font-size: 14px;
}

form#api-keys-form input {
	width: 100%;
	height: 32px;
}

form#api-keys-form button {
	width: 100%;
	height: 32px;
}

.hidden {
	display: none;
}

#toggle-api-keys {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	border: none;
	padding: 0.5rlh 0.5rlh;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 1.5rlh;
	width: 1.5rlh;
}

#toggle-api-keys:hover {
	opacity: 0.8;
}

.button-group {
	display: flex;
	gap: 8px;
}
